:root {
  --bg-primary: rgb(34, 34, 34);
  --bg-secondary: rgb(184, 182, 182);
  --bg-ssp: rgb(0, 73, 112);
  --bg-alert: rgb(96, 207, 211);
  --menu-primary: rgb(0, 73, 112);

  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(134, 82, 47);
  --color-terciary: rgb(104, 101, 101);

  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(153, 153, 153);
  --text-terciary: rgb(235, 155, 27);
  --text-negro: rgb(0, 0, 0);
  --text-ssp: rgb(236, 31, 36);

  --alert-danger: rgb(248, 153, 0);
  --alert-success: rgb(46, 199, 105);
  --text-error: rgb(236, 31, 36);
}

body {
  margin: 0;
  background-color: var(--bg-primary);
  font-family: sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  color: var(--color-primary);
  font-size: 34px;
}

span {
  color: var(--text-ssp);
  font-weight: 600;
}

.none {
  display: none;
}

.toggle-menu {
  position: fixed;
  width: 40px;
  bottom: 0.5rem;
  left: 1.5rem;
  filter: invert(1);
  cursor: pointer;
  z-index: 99;
  /* background-color: white;
  border-radius: 5px; */
}

.main-menu {
  position: fixed;
  top: 0;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--menu-primary);
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.main-menu--show {
  transform: translateY(0);
}

.main-menu__item {
  padding: 1em;
}

.main-menu__link {
  text-transform: uppercase;
}

.main-menu__link,
.social__link {
  color: var(--color-primary);
  text-decoration: none;
}

.social {
  width: 100%;
  margin: 20px 20px;
  margin-top: 20px;
}

.social__link {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.main-logo {
  margin: 10px auto;
}

.nav__item {
  width: 12px;
  margin: 0 10px 0 5px;
  color: var(--color-secondary);
}

.linea {
  font-weight: normal;
  width: 100%;
}

.main-section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  text-align: center;
}

.main-descripcion,
.sec-clientes {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  color: var(--color-primary);
}

.main-descripcion {
  text-align: left;
}

.img-index {
  width: 40%;
  margin: 20px auto;
}

/* Servicios y Consejos del automotor */
.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.seccion {
  width: 100%;
  background-color: var(--color-terciary);
  padding-top: 20px;
  padding-bottom: 20px;
}

.center-grap {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tit {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-primary);
}

/* servicios */
.modbox,
.consejos-col {
  background-color: #fff;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #222;
  margin-top: 10px;
}

.modbox {
  max-width: 280px;
  min-width: 280px;
  height: 340px;
  max-height: 340px;
  min-height: 340px;
}


.modulo {
  text-align: center;
  font-size: 18px;
}

.img-wrap {
  width: 100%;
  text-align: center;
}

.vcenter li {
  text-align: left;
  font-size: 14px;
}

/* Consejos */
.consejos-col {
  width: 100%;
  max-width: 280px;
  background-color: var(--bg-terciary);
  border: none;
}

.marcador {
  max-width: 280px;
  list-style: square;
  padding-right: 15px;
  text-align: left;
}

.consejos-col i {
  font-weight: bold;
}

/* LOGIN */
fieldset {
  max-width: 320px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  border: 2px solid var(--menu-primary);
  border-radius: 10px;
}

legend {
  margin: 0 auto;
}

.div__login,
.div__pass {
  color: var(--color-primary);
  text-align: left;
  padding: 20px 5px;
}

.form__login input[type="text"] {
  margin-left: 40px;
  /* text-transform: uppercase; */
}

.form__login input[type="password"] {
  margin-left: 10px;
}

.form__login input[type="text"],
.form__login input[type="password"] {
  width: 200px;
  background: var(--bg-primary);
  border-radius: 0.25em;
  color: var(--color-primary);
  font-size: 1em;
  padding: 0.25em;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}

.form__login input:placeholder-shown {
  text-transform: none
}

.form__login input[type="submit"] {
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
  color: var(--color-primary);
  background-color: var(--menu-primary);
  border-radius: 10px;
  border: 2px solid var(--color-secondary);
}

.div__button {
  cursor: pointer;
}

.alert {
  width: 320px;
  margin: 30px auto;
  padding: 10px;
  background-color: var(--bg-ssp);
  border-radius: 10PX;
  -align: center;
}

.alert-primary {
  color: var(--alert-success);
}

.alert-danger {
  color: var(--alert-danger);
}

/* CLIENTES*/
.slc-clientes {
  font-size: 18px;
}

.clientes-item {
  display: block;
  text-align: left;
  margin: 10px auto 0;
}

.form__clientes input[type="text"],
.form__clientes input[type="tel"],
.form__clientes input[type="number"] {
  width: 100%;
  background: var(--bg-secondary);
  border-radius: 0.25em;
  color: var(--color-primary);
  font-size: 1em;
  padding: 0.25em;
}


.cliente__button {
  width: 60%;
  margin-top: 20px;
  padding: 10px 5px;
  color: var(--color-primary);
  background-color: var(--menu-primary);
  border-color: var(--color-secondary);
  border-radius: 10px;
  font-weight: 600;
}

.form__clientes {
  width: 100%;
}

/* VEHICULOS*/

.cli-vehiculos {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 320px;
  margin: 10px auto;
}

.cli-vehiculos-main {
  margin: 20px;
}

.cli-vehiculos-linea {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  /* padding: 20px auto; */
}

.cli-vehiculos-titulo {
  width: 80px;
  color: var(--text-secondary);
}

.cli-vehiculos-detalle {
  width: 210px;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
  font-style: oblique;
}

.error__vehiculo {
  text-align: center;
  color: var(--text-terciary);
}

.error__vehiculo,
.cli-vehiculos-main {
  padding: 10px 10px;
  border: 2px solid var(--text-primary);
  border-radius: 7px;

}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--menu-primary);
  font-size: 10px;
}

.origen {
  text-align: center;
  text-decoration: none;
}

/* @MEDIA*/

@media (hover:hover) {
  .main-menu__link:hover {
    color: var(--text-negro);
  }

  .social__link:hover {
    color: var(--text-negro);
  }
}

@media screen and (min-width: 600px) {
  .main-nav {
    z-index: 10;
  }

  .main-section {
    height: auto;
    padding-bottom: 30px;
  }

  .main-descripcion {
    width: 600px;
    padding-bottom: 20px;
  }

  .img-index {
    width: 200px;
  }

  .row {
    width: 100%;
    max-width: 1440px;
    text-align: center;
  }

  .modbox {
    display: inline-block;
  }

  .consejos-col {
    width: 100%;
    max-width: 540px;
  }

  .marcador {
    max-width: 540px;
  }

}

/* TABLET */
@media screen and (min-width: 768px) {
  .main {
    padding-bottom: 60px;
  }

  .toggle-menu {
    display: none;
  }

  .linea {
    display: none;
  }

  .main-logo {
    display: none;
  }

  .main-nav {
    width: 100vw;
  }

  .main-menu {
    position: fixed;
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    transform: translateY(0);
    font-size: 12px;
    font-weight: 600;
  }

  .main-menu__link {
    padding: 10px;
  }

  .main-menu__link i {
    display: none;
  }

  .social {
    width: auto;
    margin: 10px 10px;
    margin-top: 10px;
  }

  .main-section {
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .div__clientes {
    width: 80%;
  }

  .form__clientes {
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    margin-top: 5em;
    margin-left: 40%;
  }

  /* vehiculos*/
  .cli-vehiculos {
    max-width: 1240px;
    display: flex;
  }

  .cli-vehiculos-main {
    width: 320px;
    min-height: 300px;
  }

  .consejos-col {
    width: 100%;
    max-width: 740px;
  }

  .marcador {
    max-width: 640px;
  }
}